<!DOCTYPE HTML>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <title>牛腩记账本 - 牛腩小镇｜NewNan City</title>
    <link rel="icon" type="image/png" href="images/newnan-web-logo.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <link rel="stylesheet" href="assets/css/page.css" />
</head>

<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper" style="padding-top: 0 !important;">
        <section class="wrapper style5" style="padding: 0 !important;">
            <div class="inner">
                <div id="incomes" style="margin: 10px;">
                    <div v-for="month in months">
                        <h2>{{ month.date }}</h2>
                        <ul>
                            <p>上月结余 ￥{{ month.last }}</p>
                            <li v-for="income in month.income">{{ income[0] == null ? '#某个匿名的小可爱#' : income[0] }} ￥{{ income[1] }}</li>
                            <p>开支：￥{{month.cost[0]}} ({{month.cost[1] == null ? '配置同上月' : month.cost[1]}})</p>
                        </ul>
                    </div>
                    <br />
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/donation.js"></script>
    <script src="assets/js/vue_page.js"></script>
</body>

</html>
