#main>header {
    padding         : 10em 0 10em 0;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),    url("../../images/newnancover.jpeg");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/newnancover.jpeg");
    background-image     : -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/newnancover.jpeg");
    background-image     : linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),     url("../../images/newnancover.jpeg");
    background-attachment: fixed;
    background-position  : center center;
    background-repeat    : no-repeat;
    background-size      : cover;
    text-align           : center;
}

.text-align-center {
    text-align: center;
    margin    : 5px auto;
}

ul {
    margin: 0;
}

blockquote {
    margin: 5px;
}

blockquote p {
    padding      : 5px;
    margin       : 5px auto;
    background   : #ffffff;
    border-radius: 5px;
}

.button.primary {
    background-color: #ed4933;
    box-shadow      : none !important;
    color           : #ffffff !important;
    width           : 480px;
}

p {
    margin: 5px auto;
}

h2 {
    margin: 5px auto;
}

img {
    width : 100%;
    height: auto;
}
